body {
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
    margin-top: 15%;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
}

img {
    position: absolute;
}