body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
}

.inputs {
    width: 200px;
    height: 30px;
}

label {
    margin-top: 20%;
}

button {
    background-color: aquamarine;
    margin-top: 1%;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}