body {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

#divFactorial {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin-top: 20px;
    width: 180px;
    height: 25px;
    border-radius: 15px;
    background-color: #6666d5;
    color: white;
}