body {
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
}