.normal {
    color: black;
    background-color: white;
    border:1px solid black;
}

.resaltado {
    color: aqua;
    background-color: black;
    font-size: 20px;
}


.escribir {
    background-color: burlywood;
    color: black;
}