body {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 200px;
}
button {
    width: 180px;
    height: 25px;
    border-radius: 15px;
    background-color: #6fa0ea;
    margin-top: 15px;
}