body {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: cadetblue;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.normal {
    border: 2px solid #ccc;
}
.resaltado {
    border: 2px solid green;
    background-color: cornflowerblue;
}