body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    font-size: 20px;
}

input {
    width: 300px;
    height: 30px;
}

button {
    background-color: aquamarine;
    border-radius: 30px;
    width: 200px;
    height: 30px;
    margin-top: 1%;
}