body {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    background-color: blue;
    color: white;
}

