body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor {
    margin: 10%;
}

#boton {
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: #6fa0ea;
    font-size: 20px;
}

