body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #6666d5;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    margin-top: 20px;
}

label {
    margin-top: 7%;
    font-size: 20px;
}

input {
    width: 200px;
    height: 20px;
}